.arrow-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0;
  animation: arrow .8s ease-out infinite;
}

@keyframes arrow {
  from{
    transform: translateY(0px)
  }
  to{
    transform: translateY(5px)

  }
}

.arrow-to-top.visible {
  opacity: 1;
}


